@model Shop.Web.ViewModels.ArtProducts.ArtProductCreateInputModel
@{
    this.ViewData["Title"] = "New ArtProduct";
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h1>@this.ViewData["Title"]</h1>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });</script>

<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <dl>
        <dt>
            <label asp-for="ImageLinks"></label>
        </dt>
        <dd>
            <input asp-for="ImageLinks" type="file" multiple />
            <span asp-validation-for="ImageLinks"></span>
        </dd>
  
    </dl>

    <div>
        <label asp-for="ArtDescription"></label>
        <textarea asp-for="ArtDescription" class="form-control"></textarea>
        <span asp-validation-for="ArtDescription" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ArtCreatedDate"></label>
        <input asp-for="ArtCreatedDate" class="form-control" />
        <span asp-validation-for="ArtCreatedDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Artist.Name"></label>
        <input asp-for="Artist.Name" class="form-control" />
        <span asp-validation-for="Artist.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
